@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    src: url("./woff2/Montserrat-Thin.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
    src: url("./woff2/Montserrat-ThinItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: url("./woff2/Montserrat-ExtraLight.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: italic;
    src: url("./woff2/Montserrat-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("./woff2/Montserrat-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: url("./woff2/Montserrat-LightItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("./woff2/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url("./woff2/Montserrat-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("./woff2/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url("./woff2/Montserrat-MediumItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url("./woff2/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: url("./woff2/Montserrat-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("./woff2/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: url("./woff2/Montserrat-BoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    src: url("./woff2/Montserrat-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
    src: url("./woff2/Montserrat-ExtraBoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url("./woff2/Montserrat-Black.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url("./woff2/Montserrat-BlackItalic.woff2") format("woff2");
}


@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 100;
    font-style: normal;
    src: url("./woff2/MontserratAlternates-Thin.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 100;
    font-style: italic;
    src: url("./woff2/MontserratAlternates-ThinItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 200;
    font-style: normal;
    src: url("./woff2/MontserratAlternates-ExtraLight.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 200;
    font-style: italic;
    src: url("./woff2/MontserratAlternates-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-style: normal;
    src: url("./woff2/MontserratAlternates-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-style: italic;
    src: url("./woff2/MontserratAlternates-LightItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: normal;
    src: url("./woff2/MontserratAlternates-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: italic;
    src: url("./woff2/MontserratAlternates-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: normal;
    src: url("./woff2/MontserratAlternates-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: italic;
    src: url("./woff2/MontserratAlternates-MediumItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: normal;
    src: url("./woff2/MontserratAlternates-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: italic;
    src: url("./woff2/MontserratAlternates-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: normal;
    src: url("./woff2/MontserratAlternates-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: italic;
    src: url("./woff2/MontserratAlternates-BoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-style: normal;
    src: url("./woff2/MontserratAlternates-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-style: italic;
    src: url("./woff2/MontserratAlternates-ExtraBoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 900;
    font-style: normal;
    src: url("./woff2/MontserratAlternates-Black.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url("./woff2/MontserratAlternates-BlackItalic.woff2") format("woff2");
}